<!DOCTYPE html>
<html lang="en">

<head>
  <title>Minions Delivery</title>
  <link rel="icon" type="image/x-ico" href="img/icon/title_icon.png">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="loading"><img class="gray" src="img/loading/bg.png" alt="background"><img class="banner"
      src="img/loading/banner.png" alt="banner"><img class="title" src="img/loading/title.png" alt="title"><img
      class="character" src="img/loading/kevin.png" alt="kevin"></div>
  {{!-- include partial template --}}
  {{{body}}}
</body>

</html>